<ion-view view-title="About SMAART&trade;" class="main_row" ng-controller="about">
	<ion-nav-bar class="bar-stable bar-positive" style="position:fixed; width:100%; padding-bottom:2%;">
  	<button class="button button-icon button-clear ion-navicon" menu-toggle="right" style="color:#FFF !important; float: right; font-size: 30px; z-index:999;"></button>
  </ion-nav-bar>
  <ion-content class="surveyPage">
 
  
	
					<div style="background-color: #fff;padding:20px;min-height: 604px">
						<h3 style="text-align: center;border-bottom: 1px solid #ededed">About</h3>
						<ul style="padding:10px">
							<li>Application Version: <span style="float: right;">4.2.0</span></li>
							<li>Application Updation Date: <span style="float: right;">22nd May 2017</span></li>
						</ul>
					</div>

  </ion-content>
  	<div ng-include="'templates/footer.html'">
		
	</div>
</ion-view>