<style type="text/css">
.index-title:after{
	padding-bottom: 10px
	
}
</style>
<ion-content>
	<div layout="row" layout-wrap md-colors="{background:'white'}" style="background-image: url('img/bg1.png');background-size: cover;height: 100%" ms-scroll>
		<div flex="100" layout="row" layout-align="center center" style="padding:20% 30%">
			<img src="img/icon.png">
		</div>
		<div flex="100" layout="column" layout-align="center center" class="md-subhead" style="padding: 2.5% 2.5% 2.5% 2.5%;text-align: justify;background: rgba(255, 255, 255, 0.4);">
			
			<h4 class="index-title">Steps to activate the app</h4>
			<div>
				1. Go to the website ,open profile and get activation code.<br>
				2. Press activate button below and paste the code in the dialog box.

			</div>
		</div>
		<div flex="100" layout="column" layout-align="center stretch">

				<md-button class="md-raised md-primary" style="padding:5px 0px" ng-click="Activate()">Activate</md-button>
			
		</div>
	</div>
</ion-content>