<ion-content style="margin-top: 45px; background-position: 0px -100px;background-color: #e8e8e8">
    <div >
        <md-card class="padding" style="min-height: 100px;">
            What suggestions do you have for improving Tom’s Tomato Juice?    
        </md-card>
        <md-card class="padding">
            <div layout="row" layout-align="start center" style="width: 100%;margin-bottom: 10px">
                <md-checkbox aria-label="Select All" style="margin-bottom: 0px;padding: 15px">
                    Select All
                </md-checkbox>

            </div>
             <div layout="row" layout-align="start center" style="width: 100%;margin-bottom: 10px">
                <md-checkbox aria-label="Select All" style="margin-bottom: 0px;padding: 15px">
                    Select All
                </md-checkbox>

            </div>
             <div layout="row" layout-align="start center" style="width: 100%;margin-bottom: 10px">
                <md-checkbox aria-label="Select All" style="margin-bottom: 0px;padding: 15px">
                    Select All
                </md-checkbox>

            </div>
             <div layout="row" layout-align="start center" style="width: 100%;margin-bottom: 10px">
                <md-checkbox aria-label="Select All" style="margin-bottom: 0px;padding: 15px">
                    Select All
                </md-checkbox>

            </div>
             <div layout="row" layout-align="start center" style="width: 100%;margin-bottom: 10px">
                <md-checkbox aria-label="Select All" style="margin-bottom: 0px;padding: 15px">
                    Select All
                </md-checkbox>

            </div>
        </md-card>
        
        
    </div>
</ion-content>
<div class="bar bar-footer" style="background-color: white;padding: 0px">
    <div layout="row" layout-align="center stretch" style="width: 100%">
        <div flex="25" layout="row" layout-align="center center" style="background-color: #00AEFF;font-weight: 900;color: white">
            Prev
        </div>
        <div flex="50" layout="row" layout-align="center center" style="background-color: white">
            1 of 10
        </div>
        <div flex="25" layout="row" layout-align="center center" style="background-color: #00AEFF;font-weight: 900;color: white">
            Next
        </div>
    </div>
</div>
<style type="text/css">
    .bar.bar-positive{
                border-color: #00AEFF !important;
            background-color: #00AEFF !important; 
    }
    md-checkbox .md-container{
        margin-left: 16px;
        background-color: white;
    }
</style>