<style type="text/css">
	.ng-binding .ng-valid{
		margin-right:5px;
	}
	.answer_row .col ul li{
		padding-left: 0px !important;
		padding: 0px !important;
    	background-color: transparent !important;
	}
	.checkbox input:before, .checkbox-icon:before{
		border-radius: 0px !important;
	}
</style>
<div class="row answer_row">
	<div class="col">
		<ul>
			<label ng-repeat="opt in $parent.checkboxOptions">
				<li>
					<h4>
						<label><ion-checkbox name="checkbox" ng-model="$parent.$parent.checkboxAnswer[opt.option_value]" >{{opt.option_text}}</ion-checkbox>
					</h4>
				</li>
			</label>
		</ul>
	</div>
</div>